<div mat-dialog-content>
  <p>Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>

  <p>Server</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.server">
  </mat-form-field>

  <p>id</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.id">
  </mat-form-field>
</div>
<div class="footer-actions" mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <button mat-button [mat-dialog-close]="null" cdkFocusInitial>Cancel</button>
</div>
